<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body class="bg-light">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header bg-primary text-white text-center">
            <h4>Edit Your Profile</h4>
          </div>
          <div class="card-body">
            <% if (error) { %>
              <div class="alert alert-danger">
                <ul class="mb-0">
                  <% error.forEach(el => { %>
                    <li><%= el %></li>
                  <% }) %>
                </ul>
              </div>
            <% } %>

            <form action="/profile/<%= selectedProfile.id %>/edit" method="post">
              <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" name="fullName" id="fullName" value="<%= selectedProfile.fullName %>">
              </div>

              <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" name="city" id="city" value="<%= selectedProfile.city %>">
              </div>

              <div class="form-group">
                <label for="age">Age</label>
                <input type="age" class="form-control" name="age" id="age" value="<%= selectedProfile.age %>">
              </div>

              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>